/*Contact */

h1 {
    font-weight: 700;
    font-size: 80px;
    line-height: 98px;
    //padding-top: 96px;
    color: #FFFFFF;
}

.contactInfo {
    h3 {
        font-weight: 600;
        font-size: 36px;
        color: black;
        margin-left: 40px;
    }


}


.buttonContact {
    margin-top: 24px;
    color: black;
    border: black solid 1px;
}

.contactContainer {
    max-width: 1280px;
    margin: auto;
    width: 100%;
}

#contact-form {
    max-width: 800px;
    //animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;


    @include tablette-only {
        width: 80%;
    }

    @include mobile() {
        width: 80%;

    }

    @include mobileS {

        width: 80%;

    }

}

.formInput {
    width: 100%;
    min-height: 40px;
    margin-top: 15px;
    background-color: white;
    color: black;
    border: transparent;
    box-shadow: -1px 1px 4px 0px rgba(255, 255, 255, 0.35) inset;
    -webkit-box-shadow: -1px 1px 4px 0px rgba(255, 255, 255, 0.35) inset;
    -moz-box-shadow: -1px 1px 4px 0px rgba(255, 255, 255, 0.35) inset;
    border-radius: 5px;
    padding-left: 15px;
}

.formInput::placeholder {
    color: black;
    margin-left: 50px;

    padding-top: 5px;
    font-size: 15px;

}

#contact-form textarea {
    width: 100%;
    min-height: 100px;
    margin-top: 20px;
    padding-top: 10px;
}

#contact-form textarea::placeholder {
    font-family: Montserrat;
}

// #contact-form button {
//     width: 100%;
//     min-height: 40px;
//     margin-top: 20px;
//     background-color: #363636;
//     color: white;
//     font-size: 22px;
//     border-radius: 10px;
//     cursor: pointer;
//     border: transparent;
//     box-shadow: -1px 1px 4px 0px rgba(255, 255, 255, 0.35) inset;
//     -webkit-box-shadow: -1px 1px 4px 0px rgba(255, 255, 255, 0.35) inset;
//     -moz-box-shadow: -1px 1px 4px 0px rgba(255, 255, 255, 0.35) inset;
//     -webkit-box-sizing: border-box;
//     box-sizing: border-box;
//     -webkit-transition: all 0.35s ease;
//     transition: all 0.35s ease;
// }

.successMessage {
    font-size: 20px;
    margin-top: 15px;
    color: black;
}

// #contact-form button:hover {
//     background-color: #CCA43B;
//     box-shadow: -1px 1px 4px 0px rgba(136, 136, 136, 0.35) inset;
//     -webkit-box-shadow: -1px 1px 4px 0px rgba(255, 255, 255, 0.35) inset;
//     -moz-box-shadow: -1px 1px 4px 0px rgba(126, 126, 126, 0.35) inset;
// }

.contactInfo {
    display: flex;
    flex-direction: column;

    margin-top: 40px;



    @include tablette-only {
        width: 80%;
    }

    @include mobile() {
        width: 80%;

    }

    @include mobileS {

        width: 80%;

    }


}


.contactInfo a,
.competencesContainer a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    margin-top: 20px;
    transition: all 0.35s ease;
}

.contactInfo a:hover,
.competencesContainer a:hover {
    color: black;
}

.contactInfo p {
    display: flex;
    margin-top: 15px;
}

.contactInfo span {
    color: black;
    font-size: 22px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
}

.contactFormContainer {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 40px;

    h2 {
        font-size: 40px;
        color: $pink;
    }

    @include tablette-only {
        flex-direction: column;
        margin-top: 150px;

    }

    @include mobile() {
        flex-direction: column;

    }

    @include mobileS {

        flex-direction: column;

    }

    .col textarea,
    .col input,
    .col-6 input {
        border: black solid 2px;
        border-radius: 5px;
    }
}

.contactForm {
    width: 55%;

    h2 {
        color: black;
    }
}

.textContact {
    margin: auto;
    margin-top: 20px;
}

.contactP {
    @include mobile {
        display: none;
    }
}

.contactFormContainer__question {
    flex-direction: column;


    h2 {
        margin-bottom: 40px;
        font-size: 40px;
        color: $pink;
        padding-top: 20px;
        border-top: $pink 1px solid;
    }

    iframe {
        width: 100%;
    }

    &--link {
        max-width: 200px;
        display: flex;
        justify-content: center;
        margin: 0;

        a {
            text-decoration: none;
            color: black
        }

        &:hover a {
            color: #FFFFFF;
            transition: 0.5s;
        }
    }
}