.header_textContainer {
    padding: 0;
    height: 518px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @for $i from 1 through 10 {
        & h1:nth-child(#{$i}n) {
            animation: titleEntrance #{$i * 0.5}s ease-in-out;
        }
    }

    & h1 {
        font-weight: 700;
        line-height: 98px;
        //padding-top: 96px;
        color: #FFFFFF;
        line-height: normal;
        font-size: calc(50px + (70 - 50) * ((100vw - 768px) / (1600 - 768)));
        overflow: hidden;

        @include tablette-only {
            margin-left: 20px;
            margin-right: 20px;
            //font-size: 70px;
        }

        @include mobile() {
            padding-top: 15px;
            margin-left: 20px;
            margin-right: 20px;
            //font-size: 55px;
        }

        @include mobileS {
            padding-top: 10px;
            margin-left: 20px;
            margin-right: 20px;
            //font-size: 50px;
        }
    }

    & p {
        margin-top: 30px;
        font-style: italic;
        font-weight: 300;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        color: white;
        -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

        @include LowerThanTablette {
            font-size: 22px;
            margin-top: 15px;
        }

        //white-space: nowrap;

        // @include tablette-only {
        //     white-space: wrap;
        // }

        // @include mobile() {
        //     white-space: wrap;
        // }

        // @include mobileS {
        //     white-space: wrap;
        // }
    }

    &--flex {
        display: flex;
        justify-content: space-between;
    }
}


@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}



@-webkit-keyframes titleEntrance {
    from {
        -webkit-transform: translateY(100%);
        opacity: 0;
    }

    to {
        -webkit-transform: rotate(0%);
        opacity: 1;
    }
}

.header_textContainer {
    padding: 0;
    height: 518px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @for $i from 1 through 10 {
        & h1:nth-child(#{$i}n) {
            animation: titleEntrance #{$i * 0.5}s ease-in-out;
        }
    }

    & h1 {
        font-weight: 700;
        line-height: 98px;
        //padding-top: 96px;
        color: #FFFFFF;
        line-height: normal;
        font-size: calc(50px + (70 - 50) * ((100vw - 768px) / (1600 - 768)));
        overflow: hidden;

        @include tablette-only {
            margin-left: 20px;
            margin-right: 20px;
            //font-size: 70px;
        }

        @include mobile() {
            padding-top: 15px;
            margin-left: 20px;
            margin-right: 20px;
            //font-size: 55px;
        }

        @include mobileS {
            padding-top: 10px;
            margin-left: 20px;
            margin-right: 20px;
            //font-size: 50px;
        }
    }

    & p {
        margin-top: 30px;
        font-style: italic;
        font-weight: 300;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        color: white;
        -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

        @include LowerThanTablette {
            font-size: 22px;
            margin-top: 15px;
        }

        //white-space: nowrap;

        // @include tablette-only {
        //     white-space: wrap;
        // }

        // @include mobile() {
        //     white-space: wrap;
        // }

        // @include mobileS {
        //     white-space: wrap;
        // }
    }

    &--flex {
        display: flex;
        justify-content: space-between;
    }
}


@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}



@-webkit-keyframes titleEntrance {
    from {
        -webkit-transform: translateY(100%);
        opacity: 0;
    }

    to {
        -webkit-transform: rotate(0%);
        opacity: 1;
    }
}

// span {

//     margin-top: 128px;

// }

// Section 2 and 3 styles removed as they are now handled by Tailwind CSS in the component.

.dot1 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 128px;
    display: inline-block;

    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name: orbit;
    -webkit-animation-duration: 5s;

    background: linear-gradient(180deg, rgba(247, 247, 247, 0.24) 0%, rgba(247, 247, 247, 0) 100%);

    @include tablette-only {
        display: none;
    }

    @include mobile {
        display: none;
    }

    @include mobileS {
        display: none;
    }
}

.dot2 {
    width: 50px;
    height: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    background: rgba(255, 96, 96, 0.48);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @include tablette-only {
        display: none;
    }
}



@-webkit-keyframes orbit {
    from {
        -webkit-transform: rotate(0deg)
    }

    70% {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg)
    }
}

.lastIndexSection {
    display: flex;
    flex-direction: column;
}