.projectPageContainer:nth-of-type(odd) {

    //background: rgb(2, 0, 36);
    //background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(68, 121, 9, 1) 35%, rgba(0, 255, 196, 1) 100%);

    flex-direction: row-reverse;
    text-align: right;

    img {
        margin-right: 20px;
        margin-left: 20px;
    }
}

.projectPageContainer:nth-of-type(even) {

    //background: rgb(2, 0, 36);
    //background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(68, 121, 9, 1) 35%, rgba(0, 255, 196, 1) 100%);

    flex-direction: row;

    text-align: left;


    img {
        margin-left: 20px;
        margin-right: 20px;
    }

}

.projectPage {
    margin-top: 150px;

    .projectPageContainer {
        display: flex;
        margin-bottom: 40px;
        border-radius: 5px;
        padding-top: 36px;
        padding-bottom: 36px;

        border-radius: 5px;
        background: #ffffff;
        box-shadow: 20px 20px 60px #d9d9d9,
            -20px -20px 60px #ffffff;

        @include mobile {
            flex-direction: column;
            align-items: center;
        }

        &__Text {
            @include mobile {
                margin-right: 20px;
            }
        }
    }

    h3 {
        color: $pink;
        font-size: 36px;
        margin-bottom: 10px;
    }

    h4 {
        color: $pinklight;
        margin-bottom: 8px;
    }

    p {
        margin-bottom: 24px;
    }

    img {
        width: 200px;
        height: auto;
        object-fit: cover;

        @include mobile {
            width: 100%;
        }

        @include mobileS {
            //width: 100px
        }
    }

    a {
        font-size: 16px;
    }

}