.ContactUs__Container {
    height: 170px;

    background: linear-gradient(90.04deg, #FF6060 0.03%, #FFB5B5 72.18%, rgba(255, 255, 255, 0) 99.69%);

    &--text {
        display: flex;
        align-items: center;
        height: 100%;
        margin: auto;
        flex-direction: column;
        justify-content: center;

        &-title {
            font-weight: 600;
            font-size: 24px;
            color: white;
        }

        &-link {
            margin-top: 14px;
        }
    }


}