.headerBackground {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 680px;
    left: 0px;
    top: 0px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 100, 100, 1) 56%, rgba(0, 20, 115, 1) 100%);
}


#gradient-canvas {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 680px;
    left: 0px;
    top: 0px;
    --gradient-color-1: #832525;
    --gradient-color-2: #6120b1;
    --gradient-color-3: #00052e;
    --gradient-color-4: #ff6060;
}


.Logo {
    padding: 20px;
    padding-top: 58px;
}

.logoContainer {
    display: flex;
    flex: 1;
    padding-top: 22px;

    &__img {
        width: 100px;
        height: 100px;
    }

    &__text {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: -10px;
        color: white;
        font-size: 26px;
        font-weight: 300;
    }
}

.ocean {
    height: 80px;
    /* change the height of the waves here */
    width: 100%;
    position: absolute;
    top: 680px;
    left: 0;
    right: 0;
    overflow-x: hidden;
    transform: rotate(180deg) scaleX(-1);
}

.wave {
    background: url('http://localhost:3000/img/t%C3%A9l%C3%A9chargement.png');
    position: absolute;
    width: 200%;
    height: 100%;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    transform: rotate(90deg) scaleX(-1);
}

.wave:nth-of-type(2) {
    bottom: 0;
    animation: wave 18s linear reverse infinite;
    opacity: 0.5;
}

.wave:nth-of-type(3) {
    bottom: 0;
    animation: wave 20s -1s linear infinite;
    opacity: 0.5;
}

@keyframes wave {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: absolute;
    width: 100vw;
    height: 680px;
    top: 0;
    left: 0;
    background: #2b2929;
    overflow: hidden;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #E45A84;
    top: 39%;
    left: 71%;
    animation-duration: 24s;
    animation-delay: -7s;
    transform-origin: -6% 14%;
    box-shadow: 40vmin 0 5.977039263470461vmin currentColor;
}

.background span:nth-child(1) {
    color: #FFACAC;
    top: 93%;
    left: 54%;
    animation-duration: 49s;
    animation-delay: -8s;
    transform-origin: 11% -18%;
    box-shadow: 40vmin 0 5.7695956617870365vmin currentColor;
}

.background span:nth-child(2) {
    color: #FFACAC;
    top: 11%;
    left: 37%;
    animation-duration: 51s;
    animation-delay: -9s;
    transform-origin: 10% -1%;
    box-shadow: 40vmin 0 5.5643040356717055vmin currentColor;
}

.background span:nth-child(3) {
    color: #583C87;
    top: 68%;
    left: 40%;
    animation-duration: 10s;
    animation-delay: -14s;
    transform-origin: -2% 14%;
    box-shadow: -40vmin 0 5.253696315199592vmin currentColor;
}

.background span:nth-child(4) {
    color: #583C87;
    top: 18%;
    left: 54%;
    animation-duration: 20s;
    animation-delay: -35s;
    transform-origin: -5% -20%;
    box-shadow: 40vmin 0 5.454632046966295vmin currentColor;
}

.background span:nth-child(5) {
    color: #E45A84;
    top: 24%;
    left: 34%;
    animation-duration: 14s;
    animation-delay: -16s;
    transform-origin: -24% -6%;
    box-shadow: -40vmin 0 5.33540918942534vmin currentColor;
}

.background span:nth-child(6) {
    color: #583C87;
    top: 84%;
    left: 85%;
    animation-duration: 13s;
    animation-delay: -24s;
    transform-origin: -24% 3%;
    box-shadow: -40vmin 0 5.374179341271068vmin currentColor;
}

.background span:nth-child(7) {
    color: #583C87;
    top: 74%;
    left: 33%;
    animation-duration: 48s;
    animation-delay: -50s;
    transform-origin: 12% -23%;
    box-shadow: 40vmin 0 5.5498218831428545vmin currentColor;
}

.background span:nth-child(8) {
    color: #E45A84;
    top: 65%;
    left: 48%;
    animation-duration: 49s;
    animation-delay: -10s;
    transform-origin: 11% 21%;
    box-shadow: 40vmin 0 5.633341073186426vmin currentColor;
}

.background span:nth-child(9) {
    color: #583C87;
    top: 61%;
    left: 84%;
    animation-duration: 23s;
    animation-delay: -41s;
    transform-origin: -23% 6%;
    box-shadow: 40vmin 0 5.101733390184068vmin currentColor;
}

.background span:nth-child(10) {
    color: #583C87;
    top: 84%;
    left: 28%;
    animation-duration: 28s;
    animation-delay: -9s;
    transform-origin: -1% -12%;
    box-shadow: 40vmin 0 5.157137206272183vmin currentColor;
}

.background span:nth-child(11) {
    color: #FFACAC;
    top: 38%;
    left: 60%;
    animation-duration: 40s;
    animation-delay: -41s;
    transform-origin: 11% -9%;
    box-shadow: 40vmin 0 5.976135612690798vmin currentColor;
}

.background span:nth-child(12) {
    color: #E45A84;
    top: 80%;
    left: 69%;
    animation-duration: 35s;
    animation-delay: -47s;
    transform-origin: 20% 3%;
    box-shadow: -40vmin 0 5.0550556665036765vmin currentColor;
}

.background span:nth-child(13) {
    color: #583C87;
    top: 66%;
    left: 32%;
    animation-duration: 43s;
    animation-delay: -8s;
    transform-origin: -4% 0%;
    box-shadow: -40vmin 0 5.077604773338126vmin currentColor;
}

.background span:nth-child(14) {
    color: #FFACAC;
    top: 18%;
    left: 59%;
    animation-duration: 48s;
    animation-delay: -23s;
    transform-origin: -19% 18%;
    box-shadow: 40vmin 0 5.172808274844796vmin currentColor;
}

.background span:nth-child(15) {
    color: #FFACAC;
    top: 7%;
    left: 6%;
    animation-duration: 28s;
    animation-delay: -16s;
    transform-origin: 23% 5%;
    box-shadow: 40vmin 0 5.16391757820687vmin currentColor;
}

.background span:nth-child(16) {
    color: #583C87;
    top: 67%;
    left: 99%;
    animation-duration: 25s;
    animation-delay: -43s;
    transform-origin: -15% -2%;
    box-shadow: -40vmin 0 5.923479996945085vmin currentColor;
}

.background span:nth-child(17) {
    color: #FFACAC;
    top: 89%;
    left: 30%;
    animation-duration: 18s;
    animation-delay: -1s;
    transform-origin: 4% 11%;
    box-shadow: 40vmin 0 5.357263975436985vmin currentColor;
}

.background span:nth-child(18) {
    color: #583C87;
    top: 37%;
    left: 37%;
    animation-duration: 7s;
    animation-delay: -30s;
    transform-origin: 24% -3%;
    box-shadow: -40vmin 0 5.245092708594151vmin currentColor;
}

.background span:nth-child(19) {
    color: #E45A84;
    top: 40%;
    left: 59%;
    animation-duration: 46s;
    animation-delay: -22s;
    transform-origin: -24% 4%;
    box-shadow: -40vmin 0 5.629038593928479vmin currentColor;
}