.navbar {
    width: 100%;
    display: flex;
    flex: 2;
    margin-right: -74px;
    margin-top: 0;

    .activeLine {
        border-top: 4px solid white;
        padding-top: 54px;
    }



    & ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-right: 34px;

        & li {
            display: flex;
            padding-top: 58px;
            text-decoration: none;
            max-width: 150px;
            margin: auto;

        }

        & a {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.829);
            white-space: nowrap;
            font-weight: 500;
            font-size: 20px;
            transition: 0.5s;

            &.active {
                font-weight: 500;
                color: #FFFFFF;
            }

            &:hover {
                color: white;
                transition: 0.5s;
            }
        }

    }
}

@media (min-width: 840px) {
    .listInner {
        flex-direction: row;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

}


.navbarContainer {
    display: flex;
    margin: auto;
    max-width: 1080px;
    overflow: hidden;
    padding-bottom: 40px;
    max-width: 1080px;

    a {
        text-decoration: none;
        cursor: pointer;
        color: white;
        font-size: 26px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &:after {
        content: "";
        position: absolute;
        height: 0;
        width: 1080px;
        border-top: 1px solid #FFFFFF;
        top: 142px;
    }
}

.mobileMenu {
    display: none;
}

@media (max-width: 840px) {
    .container {
        display: inline-block;
        cursor: pointer;
    }

    .navbar {
        margin-right: 0;
    }

    .navbar button {
        z-index: 100; // Ensure button is always on top
        margin-left: 85%;
        margin-top: 50px;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
        z-index: 10;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
        z-index: 12;
    }

    .change .bar2 {
        opacity: 0;
        z-index: 12;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
        z-index: 12;
    }

    .snip1198 {
        display: none !important;
    }

    .list {
        position: fixed;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        background: rgba(10, 10, 10, 0.95);
        backdrop-filter: blur(10px);
        z-index: 90;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);

        &.active {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
        }

        a,
        button {
            z-index: 11;
        }
    }

    .listInner {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .navbar ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li {
            padding-top: 0;
            margin: 0;
            max-width: none;
            
            a {
                font-size: 2rem;
                font-weight: 700;
                color: rgba(255, 255, 255, 0.8);
                transition: color 0.3s ease;

                &.active {
                    color: #FF6060;
                }
                
                &:hover {
                    color: #FF6060;
                }
            }
        }
    }

    .mobileMenu {
        display: block;
        padding: 0;
        border: none;
        background: none;
        color: white;
        font-size: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        width: 35px;
        height: 40px;
        margin-left: 10px;
    }
}