@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@keyframes borderRotate {
  100% {
    transform: rotate(360deg);
  }
}

.animated-border {
  position: relative;
  background: white;
}

.animated-border::before {
  content: "";
  position: absolute;
  inset: -8px;
  background: linear-gradient(90deg, white, #ff9797, white, #ff9797);
  background-size: 400% 400%;
  z-index: -1;
  border-radius: 10px;
  animation: 3s linear infinite, gradient 10s linear infinite;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  padding: 10px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 400% 50%;
  }
}
